.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #ffe6f0, #e0ccff);
}

.game {
    text-align: center;
    font-family: 'Comic Sans MS', 'Poppins', sans-serif;
    background-color: #fff0fa;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}


.title {
  color: #ff69b4;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.status {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.nameForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.h2Tag {
    color: gray;
    margin-bottom: 10px;
}

.inputTag {
  padding: 10px;
  width: 200px;
  border-radius: 0.8rem;
  border: 2px solid #ffc0cb;
  font-size: 1rem;
 
  background-color: #ffffff;
  color: black
}

.startBtn {
  padding: 10px 20px;
  background-color: #c18eff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startBtn:hover {
  background-color: #a76af5;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 12px;
    justify-content: center;
    margin: 20px auto;
}

.pTag {
    color: black;
    font-size: 1.3rem;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #e098d1;
    border: 3px solid #ffc0cb;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cell:hover {
    background-color: #d86392;
    transform: scale(1.05);
}

.resetBtn {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
     font-family: 'Comic Sans MS', 'Poppins', sans-serif;
    background-color: #ffb6c1;
    border: none;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resetBtn:hover {
    background-color: #ff8da1;
}


.buttonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px
}